doctype html
html
  head
    title CityPair 
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')   
    meta(charset='utf-8')   
    link(rel='stylesheet', type='text/css', href='stylesheets/pair.css')
  body
    script(src='http://d3js.org/d3.v3.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDNlWzlyeHuRVbWrMSM2ojZm-LzINVcoX4')
    script(src='javascripts/pair.js')
    script(src='javascripts/scatter.js')
    #map-canvas
