#map {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

a {
  color: #00B7FF;
}

.path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}
    
.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
